body {
    background-color: #2F3136;
}

#profile-card {
    border: 5px solid gray;
    border-radius: 2em;
    background-color: white;

    width: 30em;
    height: 10em;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 1.5em;
}

#profile-card img {
    float: left;

    border: 3px solid gray;
    border-radius: 5em;

    width: 10em;
    height: 10em;

    margin-top: -3px;
    margin-left: -3px;
}

#profile-card #info {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

    float: left;

    width: 19em;

    margin-top: -10px;
    margin-left: 5px;
}

#profile-card #info #randinfo {
    font-size: 0.75em;
    color: gray;
}

#profile-card #info #username {
    border-bottom: thin solid lightgrey;
    font-size: 2em;

    width: 100%;
}