body {
	margin-top: 5%;
	margin-left: 10%;
}

img {
	border: 5px;
	border-style: ridge;
	border-color: #994d00;
}

.container {

}

.pull-up{
	float:left;
	margin-right: 100px;
}

.gtfo {
	margin-left: 100px;
}
